.courses-certifications {
  margin: 20px 0;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.courses-certifications h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

.courses-certifications ul {
  list-style-type: none;
  padding: 0;
}

.courses-certifications li {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 5px 0;
  padding-left: 15px;
  position: relative;
}

.courses-certifications li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #3498db;
  font-size: 1.2rem;
}
